*{
	margin:0;
	padding: 0;
	border:0px;
}
body{
	width: 100%;
	height: 100%;
	background-color: #ddd;
	perspective: 1000px;
	overflow: hidden;
}
.pic-box{
	position: relative;
	width: 800px;
	height: 400px;
	margin: 50px auto;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -200px;
	-moz-transform-origin: 50% 50% -200px;
	-ms-transform-origin: 50% 50% -200px;
	-o-transform-origin: 50% 50% -200px;
	transform-origin: 50% 50% -200px;
}	
.pic-box ul li{
	position: absolute;
	width: 100%;
	height: 400px;
	list-style: none;
	transform-style: preserve-3d;
}
.pic-box ul li:nth-child(2){
	top:-400px;
	-webkit-transform-origin: bottom;
	-moz-transform-origin: bottom;
	-ms-transform-origin: bottom;
	-o-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-transform: rotateX(90deg);
	-ms-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	transform: rotateX(90deg);
}
.pic-box ul li:nth-child(3){
	-webkit-transform: translateZ(-400px) rotateX(180deg);
	-ms-transform: translateZ(-400px) rotateX(180deg);
	-o-transform: translateZ(-400px) rotateX(180deg);
	transform: translateZ(-400px) rotateX(180deg);
}
.pic-box ul li:nth-child(4){
	top:400px;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	-webkit-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
}
.pic-box ul li>div{
	float: left;
	width: 20%;			
	height: 100%;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -200px;
	-moz-transform-origin: 50% 50% -200px;
	-ms-transform-origin: 50% 50% -200px;
	-o-transform-origin: 50% 50% -200px;
	transform-origin: 50% 50% -200px;
}

.pic-box ul li:last-child>div:before{
	position: absolute;
	width: 400px;
	height: 400px;
	left: 0px;
	top: 0px;
	background-color: #232323;
	opacity: 1;
	content: '';
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	-o-transform-origin: left;
	transform-origin: left;
	-webkit-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-o-transform: rotateY(90deg);
	transform: rotateY(90deg);
}
.pic-box ul li:last-child>div:after{
	position: absolute;
	width: 400px;
	height: 400px;
	right: 0px;
	top: 0px;
	background-color: #232323;
	opacity: 1;
	content: '';
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	-o-transform-origin: right;
	transform-origin: right;
	-webkit-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}		
.btn-area{
	position: absolute;
	width: 200px;
	left: 50px;
	top: 50px;
}
.btn-area .btn-i{
	position: relative;
	width: 160px;
	height: 60px;
	line-height: 60px;
	background-color: #555;
	text-align: center;			
}
.btn-area .btn-i:active{
	opacity: 0.5;
}
.btn-active{
	background: black !important;
}